name: Release Lock Updater

on:
  push:
    branches:
      - "release-please-**"

jobs:
  update-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - uses: astral-sh/setup-uv@v2
      - name: Run update-versions script
        run: uv run ./.github/scripts/update-versions.py
      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "chore: update versions" || echo "No changes to commit"
          git push
